# Entornos virtuales
.venv/
venv/
ENV/
env/

# Base de datos local SQLite
*.db
*.sqlite3

# Python cache y compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno y secretos
.env
.env.local

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS generados
Thumbs.db
ehthumbs.db
Desktop.ini
desktop.ini

# Credenciales locales
CORREO RENDER.txt
